:root {
    --blue: #2980F2;
    --black: #141414;
}

/*Base do site*/

body {
    background: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo {
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
    margin-right: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px
}

.menu a:hover {
    color: #fff;
}

/*Capa principal*/

.capa-principal {
    font-size: 16px;
    background: url(../img/capa.jpg);
    height: 400px;
    
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

main .container {
    margin-left: 2%;
}

.capa-principal .descricao {
    margin-bottom: 40px;
}


.titulo {
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 1%;
}

.descricao {
    max-width: 50%;
    font-size: 20px;
}


.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel {
    margin-top: 8px;
}